/* src/components/auth/AuthLogo.module.css */
.logoLink {
  text-decoration: none;
  color: inherit;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoTextPrimary {
  font-weight: bold;
  color: #000;
}

.logoText {
  font-weight: normal;
  color: #555;
}

.logoSubtitle {
  font-size: 12px;
  color: #777;
}
