.logoLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  transition: opacity 0.3s ease;
}

.logoLink:hover {
  opacity: 0.8; /* Efeito de hover suave */
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoTextPrimary {
  font-weight: bold;
  color: var(--color-primary, #33254C); /* Usando variável de cor */
  font-size: 1.5rem;
}

.logoText {
  font-weight: normal;
  color: var(--color-secondary, #555); /* Usando variável de cor */
}

.logoSubtitle {
  font-size: 0.75rem; /* 12px */
  color: var(--color-tertiary, #777); /* Usando variável de cor */
  text-align: center;
  margin-top: 0.5rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .logoTextPrimary {
    font-size: 1.25rem; /* Reduz o tamanho da fonte em telas menores */
  }

  .logoSubtitle {
    font-size: 0.625rem; /* 10px */
  }
}
