.logoLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  transition: opacity 0.3s ease;
}

.logoLink:hover {
  opacity: 0.8;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoTextPrimary {
  font-weight: bold;
  color: #33254C;
  font-size: 1.5rem;
}

.logoText {
  font-weight: normal;
  color: #555;
}

.logoSubtitle {
  font-size: 0.75rem;
  color: #777;
  text-align: center;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .logoTextPrimary {
    font-size: 1.25rem;
  }

  .logoSubtitle {
    font-size: 0.625rem;
  }
}
